.layout {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

.login {
    margin: 10px auto 50px;
    text-align: center;
}

.signup {
    width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;

    input {
        border-radius: 5px;
        width: 300px;
        border: none;
        padding-left: 10px;
    }

}

.submit-btn {
    margin: 20px 0;

    button {
        border: none;
        border-radius: 5px;
        background-color: $brand-gold;
        outline: none;
        cursor: pointer;
    }
}
