.card {
    width: 90%;
    margin: auto;
    padding: 5px;
    background-color: $gray;
    border: 1px solid black;
}

img {
    width: 100%;
    height: auto;
    float: left;
}

.description {
    color: $gray;
    font-style: italic;
}
