{% load render_bundle from webpack_loader %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Student Dealer</title>
        <meta name="description" content="The Student Dealer">
        <meta name="Ewan Jones">
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        <div id="root"></div>
        {% render_bundle 'main' %}
    </body>
</html>
