.page-layout__viewport {
  padding-top: 4rem;
}

.header {
    padding-bottom: 20px;

    // gradient
    background: $brand-black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($brand-black 90%, #FFFFFE00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($brand-black 90%, #FFFFFE00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($brand-black 90%, #FFFFFE00); /* For Firefox 3.6 to 15 */
    background: linear-gradient($brand-black 90%, #FFFFFE00); /* Standard syntax */
}

.header-image {
    margin-bottom: -30px;

    img {
        margin: auto;
        max-width: 400px;
        height: auto;
    }
}

// ================================
//   NAVBAR
// ================================

.navbar {

}

.nav-link {
    color: $brand-white;
    font-size: 20px;

    &:hover {
        color: $brand-white;
    }
}

.nav-link-active {
  font-weight: bold;
  color: $brand-gold;
}
