.page-layout__viewport {
  padding-top: 4rem;
}

.nav-link {
    color: $brand-gold;
    font-size: 25px;
}

.nav-link-active {
  font-weight: bold;
  color: $brand-gold;
}

.header-image {
    background-color: $brand-black;

    img {
        margin: auto;
        width: 100%;
        max-width: 900px;
        height: auto;
    }
}
